.loadmore_container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}

.loading-background,
.mint-loadmore-top span {
	-webkit-transition: .2s linear;
	transition: .2s linear
}

.mint-loadmore-top span {
	display: inline-block;
	vertical-align: middle
}

.mint-loadmore-top span.is-rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.page-loadmore .mint-spinner {
	display: inline-block;
	vertical-align: middle
}

.mint-loadmore-bottom span {
	display: inline-block;
	-webkit-transition: .2s linear;
	transition: .2s linear;
	vertical-align: middle
}

.mint-loadmore-bottom span.is-rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.drop_icon {
	font-size: 24px;
	color: red;
}
